.about-pg-section{
  .more-info .more-info-subheading {
    margin-top: 14px;
    font-size: 16px;
    color: $dark-gray;
}
.more-info .more-info-desc p {
  font-size: 16px;
  line-height: 26px;
  color: $small-black;
}
  .about-card{
    // border: 1px solid $border-color;
    // padding: 25px 20px;
    // border-radius: 6px;
    // padding-bottom: 0px;

    border: 1px solid #eeeeee;
    padding: 25px 20px 5px;
    border-radius: 6px;
    padding-bottom: 0px;
    background: url(http://www.nise.us/images/bg1.jpg);
    background-position: center center;
    background-size: cover;
    h3{
      line-height: 1;
      color: #fff;
    }
    small{
      line-height: 1;
      color: #fff;
    }
    p{
      font-size: 16px;
      line-height: 26px;
      color: #fff;
    }
  }
  .about-icon{
    height: 60px;
    width: 60px;
    background-color: rgb(248 207 149);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-bottom: 25px;
  }
  .section-title{
    margin-bottom: 16px;
  }
  .text-highlight{
    color: #ec8d06;
    font-size: 17px;
    line-height: 27px;
    margin: 30px 0px 30px;
    background: #ec8d0624;
    padding: 15px 20px;
    border-radius: 6px;
  }
  
  .about-nise-text{
    margin-top: 20px;
    font-size: 16px;
    line-height: 26px;
    img{
      float: left;
      padding-right: 15px;
    }
  }
}