.team-page-wrapper {
  padding: 100px 0px;

  .team-area {
    margin-top: 40px;
  }

  .team-single-item {
    display: flex;
    gap: 16px;
    margin-bottom: 36px;
    padding: 30px 24px;
    padding-bottom: 16px;
    background: #fff;
    box-shadow: 0px 1px 15px 0px rgba(62, 65, 159, 0.1);
    position: relative;
    z-index: 99;
    transition: all .3s;
    &:hover{
      box-shadow: 0px 1px 15px 0px rgba(62, 65, 159, 0.3);
      &:hover{
        img{
          transform: scale(1.2);
        }
      }
    }
  }

  .team-img {
    flex: none;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 4px;
    img {
      border-radius: 4px;
      transform: scale(1);
      transition: all .3s;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
   
  }

  .team-content {
    flex: 1 1 auto;
  }

  .member-name {
    font-size: 18px;
    line-height: 18px;
    font-weight: 500;
    color: $heading-color;
  }

  .member-designation {
    font-size: 14px;
    display: block;
    margin-top: -5px;
    color: $small-black;
  }

  .member-desc {
    font-size: 14px;
    line-height: 20px;
    margin-top: 12px;
  }

  .member-email {
    font-size: 14px;
    line-height: 20px;
    margin-top: 8px;
  }
.more-info{
  margin-top: 95px;
}
}