.faq-area {
  border-radius: 6px;

  .accordion {
    border-radius: 6px;
  }

  .accordion-item {
    background-color: #fff;
    border: 1px solid transparent;
    border-bottom: 1px solid $border-color;
  }

  .accordion-button {
    color: $text-color;
    font-weight: 500;
    line-height: 20px;
    padding: 20px 30px;
    align-items: normal;
  }

  .accordion-button:not(.collapsed) {
    color: $heading-color;
    background-color: transparent;
    box-shadow: unset;
  }

  .accordion-button:focus {
    z-index: 3;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
  }

  .accordion-body {
    padding-top: 0px;
    color: $text-light-color;
    padding: 0px 30px;
    padding-bottom: 15px;
  }
}