.wpo-breadcumb-area {
	margin-top: 20px;
	.wpo-breadcumb-wrap {
		h2 {
			font-size: 24px;
			color: #fff;

			@media(max-width: 767px) {
				font-size: 30px;
				line-height: 35px;
				margin-bottom: 10px;
			}
		}

		ul {
			li {
				display: inline-block;
				padding: 10px 5px;
				color: #fff;
				position: relative;
				font-size: 20px;
				font-family: $heading-font;

				@media(max-width:767px) {
					font-size: 18px;
				}

				&:after {
					font-family: "themify";
					content: "\e649";
					position: relative;
					left: 7px;
					font-size: 13px;
					color: $dark-gray;
				}

				&:last-child {
					span {
						color: #cbd4fd;
						color: $dark-gray;
					}

					&:after {
						display: none;
					}
				}

				a {
					color: $dark-gray;
					font-size: 16px;
					transition: all .3s;

					&:hover {
						color: $theme-primary-color;
					}
				}
			}
		}
	}
}



.wpo-about-section.wpo-about-section-s2 {
	padding-top: 170px;
}