.wpo-footer-area{
    margin: 0px 0px;
    padding: 30px 30px;
    padding-top: 40px;
    border-top: 1px solid #eeeeee;
    background-color: #191A1F;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .footer-nav-item{
        display: flex;
        flex-wrap: wrap;
        gap:28px;
        @media screen and (max-width:900px) {
            gap:16px;
        }
        a{
            font-size: 15px;
            font-weight: 600;
            color: #e3e3e3;
            display: block;
            text-transform: uppercase;
            &:hover{
                color:$theme-primary-color;
            }
        }
    }
    .copyright-message{
        display: flex;
        gap:16px;
        flex-wrap: wrap;
        align-items: center;
    }


}
.copyright-btm {
    background: #000;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}